{% extends 'base.html' %}
{% block content %}
<div class="city-container">

<section class="city-list">
    <h2 style="color:#f1f1f1">Cities</h2>
    {% for city in cities %}
    <a class="city-link" href="{% url 'city_detail' city.id %}">{{city.name}}</a>
    {% endfor %}
</section>

<section class="active-city">
    <div class="city-info">
        <h3>{{city.name}}</h3>
        {% load static %}
        <img class="city-image" src="{% static "images/"%}{{city.name|cut:' '|lower}}.jpg" onerror="this.src = 'https://picsum.photos/1280/720';" alt="">
    </div>
    {% if user.is_authenticated %}
        <button type="button" class="btn btn-primary nav-item round" data-toggle="modal" data-target="#postModal">
                +
        </button>
    {% endif %}
    <div class="modal" tabindex="-1" role="dialog" id="postModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Post</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <div class="modal-body">
                    <!-- Add the login form -->
                <form action="" method='post'>
                    {% csrf_token %}
                    {{form.as_p}}
                    <input type="submit" value="Add Post">
                </form>
            </div>
            </div>
        </div>
    </div>
    <div style="margin-top: 30px;">
        <h3>Posts</h3>
        <div class="posts">
            {% if city.post_set.all %}
                {% for post in city.post_set.all %}
                <div class="inner-post">
                    <div class="user-image">
                    {% if post.user.profile.avatar.url %}
                        <img src="{{post.user.profile.avatar.url}}" class="rounded-circle" alt="">
                    {% else %}
                        <img src="https://picsum.photos/150" class="rounded-circle" alt="">
                    {% endif %}
                    </div>
                    <div class="post-info">
                        <a href="{% url 'posts' post.id%}">{{post.title}}</a>
                        <p>{{post.content|slice:"0:74"}} <a href="{% url 'posts' post.id%}">Read More...</a></p>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <h3>No Posts Yet</h3>
            {% endif %}
        </div>
    </div>
</section>
</main>
{% endblock content %}