{% extends 'base.html' %}
{% block content %}
    <p>Hello</p>
    {{user.username}}
    {{user.date_joined}}
    {{user.profile.get_city_display}}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" name='username' placeholder='Username' value="{{user.username}}">
        {{ form.city }}
        {{ form.avatar}}
        <input type="submit" value="Upload avatar">
    </form>
    {% if user.profile.avatar.url %}
    <img src="{{ user.profile.avatar.url }}" class="rounded-circle" width="150", height="150">
    {% endif  %}
{% for post in posts %}

<a href="{% url 'posts' post.id %}">{{ post.title }}</a>
{% endfor %}

{% endblock content %}