{% extends 'base.html' %}
{% block content %}
    <div class="profile-container">
        <section class="profile-info card">
            <div class="user-img">
                {% if user.profile.avatar.url %}
                <button style="border:none; background: none" data-toggle="modal" data-target="#imgModal">
                    <img src="{{ user.profile.avatar.url }}" class="rounded-circle" width="150", height="150">
                </button>
                {% else %}
                    <img src="https://picsum.photos/150" class="rounded-circle" width="150", height="150">
                {% endif  %}
            </div>
            <div class="card-body profile-info">
                <h3>My Profile</h3>
                <form method="post" enctype="multipart/form-data" class="profile-update">
                    {% csrf_token %}
                    <div class="form-group form-two">
                        <input type="text" name='username' placeholder='Username' value="{{user.username}}">
                        {{ form.city }}
                    </div>
                        <div class="modal" tabindex="-1" role="dialog" id="imgModal">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Update Profile Image</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                     <div class="form-group">
                                        {{ form.avatar}}
                                        <img id="image" class="rounded-circle" width="150", height="150"/>
                                      </div>
                                      <input type="submit" value="Update Image">
                                </div>
                                </div>
                            </div>
                            </div>
                   
                    <input type="submit" value="Update Profile">
                </form>
            </div>
        </section>
        <section class="user-posts">
            <div class="card profile-posts">
                <h4 class="city-posts">Your Posts</h4>
                {% for post in posts %}
                    {% if forloop.counter0|divisibleby:2 %}
                        <div class="post-page">
                    {% endif %}
                    <div class= "card-body inner-profile-post">
                        {% if user.profile.avatar.url %}                        
                        <img src="{{ user.profile.avatar.url }}" class="rounded-circle" width="50px", height="50px">
                        {% else %}
                        <img src="https://picsum.photos/150" class="rounded-circle" width="50px", height="50px">
                        {% endif %}
                        <div class="inner-profile-post-info">
                        <a href="{% url 'posts' post.id%}">{{post.title}}</a>
                        {% if post.content|length > 45 %}
                        <p>{{post.content|slice:"0:44"}} <a href="{% url 'posts' post.id%}">Read More...</a></p>
                        {% else %}
                            <p>{{post.content}}</p>
                        {% endif %}
                        </div>
                    </div>
                {% if forloop.counter|divisibleby:2 and forloop.counter0 != 0 or forloop.last %}
                        </div>
                    {% endif %}
                {% endfor %}
                 <div class="page-btn">
                    <a class="previous button">Previous</a>
                    <div class="page-counter">
                    </div>
                    <a class="next button">Next</a>
                </div>
            </div>
            <div class="card profile-posts">
                <h4 class="city-posts">Posts from {{user.profile.get_city_display}}</h4>
                {% for post in posts %}
                    {% if  post.city.name == user.profile.get_city_display%}
                     {% if forloop.counter0|divisibleby:2 %}
                        <div class="city-post-page">
                    {% endif %}
                    <div class= "card-body inner-profile-post">
                        <img src="{{ post.user.profile.avatar.url }}" class="rounded-circle" width="50px", height="50px">
                        <div class="inner-profile-post-info">
                        <a href="{% url 'posts' post.id%}">{{post.title}}</a>
                        {% if post.content|length > 45 %}
                        <p>{{post.content|slice:"0:44"}} <a href="{% url 'posts' post.id%}">Read More...</a></p>
                        {% else %}
                            <p>{{post.content}}</p>
                        {% endif %}
                        </div>
                    </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:2 and forloop.counter0 != 0 or forloop.last %}
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="page-btn">
                    <a class="city-previous button">Previous</a>
                    <div class="city-page-counter">
                    </div>
                    <a class="city-next button">Next</a>
                </div>
            </div>
        <p class="user-city" style="display:none">{{user.profile.city}}</p>
        </section>
    </div>
    {% comment %} {{user.username}}
    {{user.date_joined}}
    {{user.profile.get_city_display}} {% endcomment %}
    
    <script>
    // {%comment%} https://stackoverflow.com/questions/14069421/show-an-image-preview-before-upload/31657793 {% endcomment %}
    document.getElementById("id_avatar").onchange = function () {
    const reader = new FileReader();

    reader.onload = function (e) {
        // get loaded data and render thumbnail.
        document.getElementById("image").src = e.target.result;
    };

    // read the image file as a data URL.
    reader.readAsDataURL(this.files[0]);
};
    </script>


{% endblock content %}