<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Wayfarer</title>
</head>
<body>
    <nav>
    <div class="logo">
        <h1>Project Wayfarer</h1>
    </div>
    {% if user.is_authenticated %}
    <ul>
        <li><a href="{% url 'profile' %}">Profile</a></li>
        <li><a href="{% url 'logout' %}">Log Out</a></li>
    </ul>
    {% else %}
    <ul>
        <li><a href="{% url 'login' %}">Log In</a></li>
        <li><a href="{% url 'signup' %}">Sign Up</a></li>
    </ul>
    
    {% endif %}
    </nav>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
    <footer>
        <p>Copyright &copy; Project Wayfarer 2020</p>
    </footer>
</body>
</html>