{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,600;1,700&display=swap" rel="stylesheet">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <script defer src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js" integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous"></script>
    <script defer src="{% static "js/main.js" %}"></script>
    <title>Project Wayfarer</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="logo">
            <a href="{% url 'home' %}"><h1>Project Wayfarer</h1></a>
        </div>
    {% if user.is_authenticated %}
    <ul class="nav logged-in">
        <a href="{% url 'cities' %}"><button class="btn btn-primary nav-item">Cities</button></a>
        <a href="{% url 'profile' %}"><button class="btn btn-primary nav-item">Welcome, {{user.username}} </button></a>
        <a href="{% url 'logout' %}"><button class="btn btn-primary nav-item">Log Out</button></a>
    </ul>
    {% else %}
    <ul class="nav logged-out">
        <a href="{% url 'cities' %}"><button type='link' class="btn btn-primary nav-item">Cities</button></a>
        <button type="button" class="btn btn-primary nav-item" data-toggle="modal" data-target="#loginModal">
            Login
        </button>
        <button type="button" class="btn btn-primary nav-item" data-toggle="modal" data-target="#signupModal">
            Sign up
        </button>
    </ul>
    
    {% endif %}
    </nav>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
    <footer>
        <p>Copyright &copy; Project Wayfarer 2020</p>
    </footer>
</body>
</html>