:root {
	--dark: #282b28;
	--main: #d36135;
	--main-hover: #a24936;
	--light: #101010;
	--white: #e3e3e3;
}

.card-left,
.card-center,
.card-right {
	background-color: var(--white);
	color: var(--dark);
}

body {
}

body > main > h3 {
	color: var(--white) !important;
}

footer {
	color: var(--white);
}
