/* Colors */
:root {
	--dark: #282b2b;
	--main: #d36135;
	--main-hover: #a24936;
}

/* General */
.bg-dark {
	background-color: var(--dark) !important;
}

.btn-primary {
	background-color: var(--main);
	border-color: var(--main);
}

.btn-primary:hover {
	background-color: var(--main-hover);
	border-color: var(--main-hover);
}

/* Nav */
.logged-in .nav-item {
	padding: 15px;
}

.logged-out .nav-item {
	margin: 0 10px;
}

.navbar a {
	color: white;
}

/* Carousel */

.carousel-item,
.carousel-inner,
.carousel-inner img {
	height: 100%;
	width: auto;
}
.carousel-item {
	text-align: center;
}

.carousel {
	width: 80vw;
	margin: 0 auto;
	height: 500px;
}

.card-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Footer */
footer {
	position: fixed;
	bottom: 0;
	width: 100vw;
	text-align: center;
}
